<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitframe">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".cache.CacheTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".bit.activity.FrameContainerActivity" />
        <activity android:name=".bit.activity.ViewPageActivity" />
        <activity android:name=".bit.activity.ToolbarDemoActivity" />
        <activity android:name=".bit.activity.FragmentMainActivity" />
        <activity android:name=".web.WebActivity" />

        <activity android:name=".cache.TestAppCacheActivity" />
        <activity android:name=".cache.TestBitActivity" />

    </application>

</manifest>